In [1]:
import json
import sys
sys.path.append('/home/nbuser/library/')

import pandas as pd
import requests
import key

 ### API Call
 
 - First step - Get URL from documentation
 - Second step - look at the required parameters
 
 - Third step - Catch when status code does not equal to 200

In [12]:
def get_latlng(address):
    """
    Takes an address as a STRING input, returns the latitude and longitude coordinates as STRING outputs.
    """
    
    url = 'https://us1.locationiq.com/v1/search.php'

    params = {
        'key' : key.key,
        'q' : address,
        'format' : 'json'
    }

    response = requests.get(url, params=params)
    
    if response.status_code != 200:
        return response.status_code

    lat = response.json()[0]['lat']
    lng = response.json()[0]['lon']
    return lat,lng

In [15]:
get_latlng("24 Dornwell Road, Auckland")

('-36.9110229', '174.753648')

### Calling the API for each property in our csv file and appending result to dataframe

First we read in our csv file into a dataframe

In [2]:
df = pd.read_csv('Properties.csv')

Creating a sample here so we can test our code on the sample instead of on our entire dataframe

In [ ]:
sample = df.head()

Applying our API call function to each row and appending result as an extra column

In [ ]:
sample[['Latitude' , 'Longitude']] = sample.Address.apply(get_latlng)

In [120]:
sample

,Bedrooms,Bathrooms,Address,Land area,CV Price,Latitude,Longitude
0,4,2,"44 Godden Crescent, Auckland",420 m²,2150000,-36.8588055,174.8284072
1,4,3,"151 Shore Road, Auckland",784 m²,2300000,-36.8659977,174.8042526
2,3,1,"4 Heretaunga Avenue, Auckland",584 m²,1055000,-36.9190126,174.7944865
3,4,3,"4 Tropicana Drive, Auckland",683 m²,880000,-36.9224219,174.7188805
4,6,5,"50 Valley Road, Auckland",424 m²,1455000,-36.8788073,174.7570509

### Using apply function with lambda

Creating a sample function that takes in two inputs, and return a single tupule containing the inputs

In [121]:
def combine_lat_lng(lat,lng):
    return (lat,lng)

This is how we apply a function to the dataframe when we want to use the values from 2 columns as input

In [123]:
sample['Combined coordinates'] = sample.apply(lambda row: combine_lat_lng(row['Latitude'], row['Longitude']), axis = 1)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [124]:
sample

,Bedrooms,Bathrooms,Address,Land area,CV Price,Latitude,Longitude,Combined coordinates
0,4,2,"44 Godden Crescent, Auckland",420 m²,2150000,-36.8588055,174.8284072,"(-36.8588055, 174.8284072)"
1,4,3,"151 Shore Road, Auckland",784 m²,2300000,-36.8659977,174.8042526,"(-36.8659977, 174.8042526)"
2,3,1,"4 Heretaunga Avenue, Auckland",584 m²,1055000,-36.9190126,174.7944865,"(-36.9190126, 174.7944865)"
3,4,3,"4 Tropicana Drive, Auckland",683 m²,880000,-36.9224219,174.7188805,"(-36.9224219, 174.7188805)"
4,6,5,"50 Valley Road, Auckland",424 m²,1455000,-36.8788073,174.7570509,"(-36.8788073, 174.7570509)"

Writing out to csv file

In [ ]:
df.to_csv('Properties.csv', index=False)